<div class="flex items-center ">
<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#991b1b_0%,#450a0a_50%,#991b1b_100%)]"
  ></span>
  <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-red-800 bg-red-100 rounded-full dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
    <slot />
  </div>
</span>
</div>